# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Build artifacts
_obj/
_testmain.go

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.s

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# Profiling files
.profile

# IDEs and editors
/.idea/
*.iml

# JetBrains IDE
.idea/

# vscode
.vscode/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Atom
.atom/

# Mac
.DS_Store

# Other common tools
*~
*.swp
*.bak
*.tmp
*.log
